@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: white;
    min-height: 100vh;
    margin-left: 50px;
    padding-bottom: 0;
}
#header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px  100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo{
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li{
    list-style: none;
    margin-left: 20px;
}
#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active{
    background: #094b65;
    color: #fff;
}
.content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .textBox
{
	position: relative;
	max-width: 600px;
	margin: 10px;
	top: 25px;
}
.content .textBox h2
{
	color: #333;
	font-size: 3.4em;
	line-height: 1.1em;
	font-weight: 500;
}
.content .textBox h2 span
{
	color: #094b65;
	font-size: 0.9em;
	font-weight: 900;
}
.content .textBox p
{
	color: #333;
}
.content .textBox a
{
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #094b65;
	color: white;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
}
.content .imgBox
{
	width: 600px;
	display: flex;
	justify-content: flex-end;
	padding: 50px;
	margin-top: 50px;
}
.content .imgBox img
{
	max-width: 340px;
}
.thumb
{
	font-size: 0.5em;
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	display: flex;
}
.thumb li
{
	list-style: none;
	display: inline-block;
	top: 40px;
	margin: 0 5px;
	cursor: pointer;
	transition: 0.5s;
}
.thumb li:hover
{
	transform: translateY(-15px);	
}
.thumb li img
{
	max-width: 60px;
}
.circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #094b65;
	clip-path: circle(600px at right 800px);
}
